.chat-message {
  display: flex;
  flex-direction: column;
  gap: 7px;

  border-radius: 12px;
  border: 2px solid black;
  padding: 5px;

  background-color: aliceblue;

  flex-grow: 0;
}

.chat-message__header {
  display: flex;
  flex-direction: row;
  gap: 5px;

  align-items: center;
}

.chat-message__author-img {
  flex-shrink: 0;

  border: 2px solid black;

  width: 40px;

  background-color: aquamarine;
}
.chat-message__author-name {
  font-size: 18px;
  width: 100%;
  flex-shrink: 1;
}

.chat-message__footer {
  text-align: right;
}
