.al-page-header {
  height: 60px;
  background-color: grey;

  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  min-width: 200px;
}

.al-page-header__login-icon {
  height: 30px;
  width: 30px;

  background-color: yellow;
  border: black 2px solid;
}
