.al-navigation {
  border-bottom: grey 1px solid;
  height: 60px;
}

.al-navigation__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  overflow-x: scroll;

  padding: 0px 20px;
}

.al-navigation__item {
  flex-shrink: 0;
  color: grey;
}

.al-navigation__item_active {
  color: black;
}
