.al-main-menu {
  padding: 0px 20px;

  max-width: 1024px;
}

.al-main-menu__articles-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.al-main-menu__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: white;

  margin: 10px 0px;
}

.al-main-menu__nav-button {
  aspect-ratio: 1/1;
}
